---
import ContentPageLayout from "@layouts/ContentPageLayout.astro";
import Group from "@components/ContentPage/Group.svelte";
import Image from "@components/ContentPage/Image.svelte";
import Heading from "@components/Heading.svelte";
import Headline from "@components/fragments/Headline.svelte";
import Icon from "@components/Icon.svelte";
---

<ContentPageLayout
    title="About"
    description="TODO: Description"
    heroSrc="/images/placeholder4k.jpg" heroAlt="TODO: Placeholder">

    <!-- Intro text -->
    <Group>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt alias vel quod nihil quaerat beatae necessitatibus, nemo reiciendis ut temporibus.</p>
    </Group>
    
    <!-- Impact: Media with caption -->
    <Group>
        <h2>Impact</h2>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
    </Group>

    <!-- Mission: Card and text -->
    <Group>
        <Heading size={2} icon="rocket">Mission</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aspernatur id eaque tempora exercitationem tenetur cum sapiente laborum fuga, at cupiditate, nesciunt hic vero odio voluptatum distinctio excepturi quis ab unde aut? Accusantium iste aliquam numquam nihil soluta, blanditiis modi?</p>
        <div class="
                px-6 py-8 mb-4
                flex flex-col gap-4
                bg-orange-super-light rounded-3xl drop-shadow-md
                italic">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et autem eius hic laudantium rem, non cupiditate veritatis iusto iure molestias soluta!</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati incidunt repudiandae dolorem nobis vel. Expedita optio ipsa, nam, ullam a vel incidunt sunt culpa aspernatur laudantium iste, voluptatum quas?</p>
    </Group>

    <!-- Vision: Card and text -->
    <Group>
        <Heading size={2} icon="glasses">Vision</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aspernatur id eaque tempora exercitationem tenetur cum sapiente laborum fuga, at cupiditate, nesciunt hic vero odio voluptatum distinctio excepturi quis ab unde aut? Accusantium iste aliquam numquam nihil soluta, blanditiis modi?</p>
        <div class="
                px-6 py-8 my-2
                flex flex-col gap-4
                bg-navy-super-light rounded-3xl drop-shadow-md
                text-lg italic">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et autem eius hic laudantium rem, non cupiditate veritatis iusto iure molestias soluta!</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati incidunt repudiandae dolorem nobis vel. Expedita optio ipsa, nam, ullam a vel incidunt sunt culpa aspernatur laudantium iste, voluptatum quas?</p>
    </Group>

    <!-- History: long-form text -->
    <Group>
        <Heading size={2}>History</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aperiam sapiente, unde quos incidunt exercitationem repellat. Neque architecto atque sapiente minus a commodi porro quisquam quibusdam debitis autem ad vel, expedita repellat! Tempore velit deserunt facilis amet ut debitis, temporibus rerum dolor. Magnam, fugit harum.</p>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque praesentium numquam hic inventore rem et perspiciatis veniam quod, culpa, repellendus quis assumenda, optio fuga quaerat. Accusamus reprehenderit exercitationem explicabo, quos illum illo beatae saepe repellat dolorem totam ex voluptates quidem eius temporibus hic minus sequi reiciendis, asperiores expedita! Saepe, pariatur vel illum optio, quis doloribus asperiores necessitatibus qui corporis deleniti ipsum reprehenderit mollitia vero facere nihil, consequuntur accusantium. Saepe, veritatis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae odit debitis temporibus. Dicta est ratione ab sed facere iste modi.</p>
    </Group>

    <!-- Funding -->
    <Group>
        <Heading size={2}>Funding</Heading>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, doloremque quis rem exercitationem veniam vitae enim ab omnis quasi laudantium, asperiores iusto iure. Eos quod obcaecati distinctio suscipit aliquid dolor quam, voluptatibus, ea neque odio unde aspernatur saepe exercitationem adipisci numquam dolorem nam maiores error.</p>
    </Group>

    <!-- TODO: Everything -->
    <section id="impact" class="pb-8 space-y-10">
        <Headline>Our <span class="text-orange">Impact</span></Headline>
        <div class="
            flex items-center">
            <div class="
                w-1/6 space-y-8
                flex flex-col items-center justify-center">
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
            </div>
            <!-- Snap container -->
            <div id="scrollbox" class="
                w-5/6 h-[calc(100vh-100px)]
                snap-y snap-mandatory overflow-scroll">
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-0.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Since our project began, we have seen a rise in the number of families living in the Upper Peninsula of Michigan seeking help with a child battling cancer. <strong>As of December 2021, that number has increased by more than twenty-fold!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-1.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        According to recent figures, 11,000 children in the U.S. were diagnosed with a form of cancer in 2020. Michigan diagnoses approximately 470 children per year with some form of cancer. At any given time there are approximately 2000 children in Michigan battling this dreadful disease. <strong>The Upper Peninsula of Michigan has the largest number of cases diagnosed per capita.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-2.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Within the past few decades, cancer research has produced promising treatments for pediatric cancer. 60% of children who have had cancer, have lifelong emotional, cognitive, physical, and developmental deficits. Key statistics for Childhood Cancers, The American Cancer Society's most recent estimates and statistics for cancer in children in the United States can be found here. <strong>Currently in the U.S., the recovery rate for childhood cancer is 84%.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-3.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        The Childhood Cancer program has worked hard and received support from several organizations. Fundraisers and donations made by Lions, other organizations and individuals earned over $30,000. Tour Da Yoop, Eh earned over $50,000 in 2022. Graymont and Superior Health Foundation provided grants worth over $25,000. A Legacy Bequeathment has also provided funding. <strong>In total, The U.P. Lions Serve Childhood Cancer Program has raised over $100,000 through fundraisers, individual donations, and grants!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-400px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-4.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Families found by the Childhood Cancer program, distributed by county.
                    </p>
                </div>
            </div>
        </div>
    </section>

    
</ContentPageLayout>