---
import Layout from "@layouts/BaseLayout.astro";
import Hero from "@components/home/Hero.svelte";
import OurPurpose from "@components/home/OurPurpose.svelte";
import MediaAndText from "@components/MediaAndText.svelte";
import Button from "@components/Button.svelte";
import Headline from "@components/fragments/Headline.svelte";
import Icon from "@components/Icon.svelte";
import Cards from "@components/sections/Cards.svelte";
import OurHeroes from "@components/home/OurHeroes.svelte";
import CallToAction from "@components/home/CallToAction.svelte";
---

<Layout
    title="U.P. Lions Serve: Childhood Cancer"
    description="Working every day to raise funds for Upper Peninsula families battling childhood cancer, the U.P. Lions Serve: Childhood Cancer program assembles initiatives to assist these families in paying for travel, medical, and household bills. We provide resources and connect families with life-changing programs, including Camp Quality, Maggie’s Wigs 4 Kids, and Kids Kicking Cancer.">
    
    <Hero />

    <!-- TODO: Receive updates from Chris -->
    <OurPurpose client:load />


    <!-- TODO: Clean up formatting, code -->
    <MediaAndText 
        src={`${import.meta.env.BASE_URL}/images/canDrive5-compressed.jpg`}
        alt="Female Lions Club member standing next to a banner that reads 'Cans for Kids with Cancer'">
        <span slot="headline">
            Our <span class="text-orange">Mission</span>
        </span>
        <p>Is to serve children and families from the Upper Peninsula who are battling childhood cancer. Our program assembles initiatives to help these families meet financial needs for travel, medical, and household bills.</p>
        <Button href={`${import.meta.env.BASE_URL}/about#mission`}>Learn more</Button>
    </MediaAndText>
    

    <!-- TODO: Add swipe interactivity -->
    <Cards client:load
        button={
            {
                text: "View All Initiatives",
                href: `${import.meta.env.BASE_URL}/programs#initiatives`
            }
        }
        content={[
            {
                src: "/images/Maggies-Wigs-4-Kids-cover.jpg",
                alt: "Wigs along a wall",
                href: "/initiatives/maggies-wigs-4-kids",
                title: "Maggies Wigs 4 Kids",
                text: "Providing hair and skin restoration services to our children in the U.P."
            },
            {
                src: "/images/Camp-Quality-cover.jpg",
                alt: "Kids sitting around a campfire",
                href: "/initiatives/camp-quality-michigan",
                title: "Camp Quality Michigan",
                text: "Providing year-round programs and experiences at no cost with camps throughout Michigan at 4 different locations."
            },
            {
                src: "/images/Kids-Kicking-Cancer-cover.jpg",
                alt: "Kids in karate position in a dojo",
                href: "/initiatives/kids-kicking-cancer",
                title: "Kids Kicking Cancer",
                text: "Providing martial arts and meditation/pain control classes to U.P. children and their siblings."
            }
        ]}>
        <span slot="headline">Our <span class="text-orange">Initiatives</span></span>
        <span slot="text">We share information and connect families to other nonprofits that may help, either in-person or remotely.</span>
    </Cards>



    <!-- TODO: Make desktop responsive -->
    <OurHeroes client:load />



    <!-- TODO: Everything -->
    <section class="pb-8 space-y-10">
        <Headline>Our <span class="text-orange">Statistics</span></Headline>
        <div class="
            flex items-center">
            <div class="
                w-1/6 space-y-8
                flex flex-col items-center justify-center">
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
            </div>
            <!-- Snap container -->
            <div id="scrollbox" class="
                w-5/6 h-[calc(100vh-100px)]
                snap-y snap-mandatory overflow-scroll">
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-0.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Since our project began, we have seen a rise in the number of families living in the Upper Peninsula of Michigan seeking help with a child battling cancer. <strong>As of December 2021, that number has increased by more than twenty-fold!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-1.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        According to recent figures, 11,000 children in the U.S. were diagnosed with a form of cancer in 2020. Michigan diagnoses approximately 470 children per year with some form of cancer. At any given time there are approximately 2000 children in Michigan battling this dreadful disease. <strong>The Upper Peninsula of Michigan has the largest number of cases diagnosed per capita.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-2.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Within the past few decades, cancer research has produced promising treatments for pediatric cancer. 60% of children who have had cancer, have lifelong emotional, cognitive, physical, and developmental deficits. Key statistics for Childhood Cancers, The American Cancer Society's most recent estimates and statistics for cancer in children in the United States can be found here. <strong>Currently in the U.S., the recovery rate for childhood cancer is 84%.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-3.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        The Childhood Cancer program has worked hard and received support from several organizations. Fundraisers and donations made by Lions, other organizations and individuals earned over $30,000. Tour Da Yoop, Eh earned over $50,000 in 2022. Graymont and Superior Health Foundation provided grants worth over $25,000. A Legacy Bequeathment has also provided funding. <strong>In total, The U.P. Lions Serve Childhood Cancer Program has raised over $100,000 through fundraisers, individual donations, and grants!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-400px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-4.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Families found by the Childhood Cancer program, distributed by county.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <CallToAction />
</Layout>

<script>
    // const scrollbox: HTMLElement|null = document.getElementById("scrollbox")!
    // console.log(scrollbox.getBoundingClientRect())
    // console.log(window.onscroll)

    // window.addEventListener("scroll", function(e) {
    //     console.log(window.pageYOffset)
    //     // console.log(Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom));

    //     if (Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom) - 20 >= 0 && window.innerHeight - scrollbox.getBoundingClientRect().bottom < 100) {
    //         scrollbox.classList.add("overflow-scroll")
    //         scrollbox.classList.remove("overflow-hidden")
            
    //         window.onscroll = () => {
    //             window.scrollTo({
    //                 top: 2844
    //             })
    //         }
    //     } else {
    //         window.onscroll = null
    //         scrollbox.classList.remove("overflow-scroll")
    //         scrollbox.classList.add("overflow-hidden")
    //     }
    // })
    
</script>