---
import Layout from "@layouts/BaseLayout.astro";
import Swoosh from "@components/Swoosh.svelte";
import StatsDisplay from "@components/home/StatsDisplay.svelte";
import MediaAndText from "@components/MediaAndText.svelte";
import Button from "@components/Button.svelte";
import Headline from "@components/fragments/Headline.svelte";
import Icon from "@components/Icon.svelte";
import Heading from "@components/Heading.svelte";
import Cards from "@components/sections/Cards.svelte";
---

<Layout
    title="U.P. Lions Serve: Childhood Cancer"
    description="Working every day to raise funds for Upper Peninsula families battling childhood cancer, the U.P. Lions Serve: Childhood Cancer program assembles initiatives to assist these families in paying for travel, medical, and household bills. We provide resources and connect families with life-changing programs, including Camp Quality, Maggie’s Wigs 4 Kids, and Kids Kicking Cancer.">
    
    <!-- TODO: Convert into section component for home page -->
    <section class="
            w-full xl:h-auto mb-16 xl:-mb-16
            relative

            before:content-['']
            before:w-full before:h-full
            before:absolute before:top-0 before:left-0 before:-z-20
            before:bg-[url('/childhood-cancer/images/landing-hero.jpg')] before:bg-cover before:bg-left xl:before:bg-center
            before:brightness-65 before:saturate-75">
        <div class="
                px-8 pt-24 pb-[30vw] max-w-xl xl:ml-24 xl:pt-24 xl:pb-48
                flex xl:block flex-col gap-4
                relative">
            <Heading size={1} color={"white"}>
                Helping Upper Peninsula families <span class="text-orange">fight</span> childhood cancer.
            </Heading>
            <p class="xl:pt-2 xl:pb-6 text-white">Since our project began, we have seen a rise in the number of families living in the Upper Peninsula of Michigan seeking help with a child battling cancer.</p>
            <p class="mb-4 text-lg font-bold text-white">As of December 2022, that number has increased by more <span class="text-orange">than twenty-fold!</span></p>
            <Button>Join the fight</Button>
        </div>
        <div class="
                w-full xl:min-w-[1600px] -mt-[15rem]
                absolute bottom-24 xl:bottom-auto z-10 overflow-x-hidden 
                translate-y-32 xl:translate-y-0 scale-[3] sm:scale-[2] xl:scale-110 -rotate-9 -left-8
                pointer-events-none">
            <img src={`${import.meta.env.BASE_URL}/graphics/swooshes/Asset 2.svg`} alt="" draggable="false" class="" />
        </div>
    </section>



    <!-- TODO: Add paragraph content, clean up appearance -->
    <StatsDisplay client:load />


    <!-- TODO: Clean up formatting, code -->
    <MediaAndText src={import.meta.env.BASE_URL + "/images/canDrive5-compressed.jpg"}>
        <span slot="title">
            Our <span class="text-orange">Mission</span>
        </span>
        <p>Is to serve children and families from the Upper Peninsula who are battling childhood cancer. Our program assembles initiatives to help these families meet financial needs for travel, medical, and household bills.</p>
        <Button href="/about#mission">Learn more</Button>
    </MediaAndText>
    

    <!-- TODO: Add swipe interactivity -->
    <Cards />


    <!-- TODO: Everything -->
    <section class="pt-96">
        <img 
            src={`${import.meta.env.BASE_URL}/images/Rylan.jpg`}
            alt="Boy on a swingset"
            class="
                max-w-xl
                absolute right-0 -translate-y-72 -z-30
                rounded-l-3xl"/>
        <div class="
            max-w-4xl py-16 pl-64 pr-16
            relative z-10
            bg-white rounded-r-3xl
            drop-shadow-blue">
            <div class="
                pb-8 space-x-12
                flex items-center justify-center
                ">
                <span class="
                    w-12 h-12
                    flex items-center justify-center
                    bg-orange-light rounded-full">
                    <Icon id="arrow" color="fill-navy" styling="translate-y-0.5 scale-50 rotate-180" />
                </span>
                <Headline>Our <span class="text-orange">Heroes</span></Headline>
                <span class="
                    w-12 h-12
                    flex items-center justify-center
                    bg-orange rounded-full">
                    <Icon id="arrow" color="fill-white" styling="-translate-y-0.5 scale-50" />
                </span>
            </div>
            <div class="space-y-4">
                <Heading size={4}>Rylan</Heading>
                <p class="font-bold">
                    Rylan is an Upper Peninsula 5-year-old who was being treated for high-risk neuroblastoma. He gained his Angel Wings on July 18, 2022.
                </p>
                <p>
                    His father is very grateful for the assistance as Rylan received treatment at the University of Michigan hospitals in Ann Arbor, including surgery, chemotherapy, bone marrow transplants, and more. This treatment required lengthy hospitalizations, keeping Rylan and his mom away from his father and siblings for months.
                </p>
            </div>
        </div>
        <Swoosh swooshNum={5} position="relative -translate-x-12 -mt-[28rem] z-0" />
    </section>

    <!-- TODO: Everything -->
    <section class="pb-8 space-y-10">
        <Headline>Our <span class="text-orange">Statistics</span></Headline>
        <div class="
            flex items-center">
            <div class="
                w-1/6 space-y-8
                flex flex-col items-center justify-center">
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
                <Icon id="circle-dot" />
            </div>
            <!-- Snap container -->
            <div id="scrollbox" class="
                w-5/6 h-[calc(100vh-100px)]
                snap-y snap-mandatory overflow-scroll">
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-0.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Since our project began, we have seen a rise in the number of families living in the Upper Peninsula of Michigan seeking help with a child battling cancer. <strong>As of December 2021, that number has increased by more than twenty-fold!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-1.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        According to recent figures, 11,000 children in the U.S. were diagnosed with a form of cancer in 2020. Michigan diagnoses approximately 470 children per year with some form of cancer. At any given time there are approximately 2000 children in Michigan battling this dreadful disease. <strong>The Upper Peninsula of Michigan has the largest number of cases diagnosed per capita.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-2.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Within the past few decades, cancer research has produced promising treatments for pediatric cancer. 60% of children who have had cancer, have lifelong emotional, cognitive, physical, and developmental deficits. Key statistics for Childhood Cancers, The American Cancer Society's most recent estimates and statistics for cancer in children in the United States can be found here. <strong>Currently in the U.S., the recovery rate for childhood cancer is 84%.</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-100px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-3.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        The Childhood Cancer program has worked hard and received support from several organizations. Fundraisers and donations made by Lions, other organizations and individuals earned over $30,000. Tour Da Yoop, Eh earned over $50,000 in 2022. Graymont and Superior Health Foundation provided grants worth over $25,000. A Legacy Bequeathment has also provided funding. <strong>In total, The U.P. Lions Serve Childhood Cancer Program has raised over $100,000 through fundraisers, individual donations, and grants!</strong>
                    </p>
                </div>
                <div class="snap-end h-[calc(100vh-400px)] flex flex-col overflow-x-hidden">
                    <img src={`${import.meta.env.BASE_URL}/graphics/stats/stats-4.jpg`} alt="">
                    <p class="w-2/3 py-4">
                        Families found by the Childhood Cancer program, distributed by county.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- TODO: Make mobile responsive, create CTA component -->
    <section 
        aria-label="Drone image of Great Lakes shore. Photo by Lucas Ludwig on Unsplash"
        class="
            w-full
            relative

            before:content-['']
            before:w-full before:h-full
            before:absolute before:top-0 before:left-0 before:-z-20
            before:bg-[url('/childhood-cancer/images/GreatLakes-0.1q.jpg')] before:bg-cover before:bg-center
            before:brightness-65 before:saturate-75
            ">
        <div class="
                min-w-[1600px]
                absolute z-10 overflow-x-hidden
                translate-x-12 -translate-y-16 rotate-180 scale-110
                pointer-events-none">
            <img src={`${import.meta.env.BASE_URL}/graphics/swooshes/Asset 2.svg`} alt="" draggable="false" />
        </div>
        <div class="
            max-w-xl ml-24 pb-24 pt-36
            relative">
            <Heading size={2} color="white">
                <span class="text-orange">Michigan is 5th in the nation</span><br />
                <span class="
                    block w-96 py-2
                    text-2xl text-white">
                    for annual number of pediatric cancer diagnoses.
                </span>
            </Heading>
            <p class="
                pt-2 pb-6
                font-sans font-medium text-white">470 children are diagnosed in Michigan each year, and the Upper Peninsula has the largest number of children per capita diagnosed with cancer in Michigan. U.P. families face daunting challenges because they must travel out of our area for care. Many times, one parent is forced to take an extended leave of absence or leave a job to be with their child. Medical treatment can go on for many years, leaving kids with physical, emotional, and sensory deficits.
            </p>
            <Button>Help Us Help Them.</Button>
        </div>
    </section>
</Layout>

<script>
    // const scrollbox: HTMLElement|null = document.getElementById("scrollbox")!
    // console.log(scrollbox.getBoundingClientRect())
    // console.log(window.onscroll)

    // window.addEventListener("scroll", function(e) {
    //     console.log(window.pageYOffset)
    //     // console.log(Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom));

    //     if (Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom) - 20 >= 0 && window.innerHeight - scrollbox.getBoundingClientRect().bottom < 100) {
    //         scrollbox.classList.add("overflow-scroll")
    //         scrollbox.classList.remove("overflow-hidden")
            
    //         window.onscroll = () => {
    //             window.scrollTo({
    //                 top: 2844
    //             })
    //         }
    //     } else {
    //         window.onscroll = null
    //         scrollbox.classList.remove("overflow-scroll")
    //         scrollbox.classList.add("overflow-hidden")
    //     }
    // })
    
</script>